<div class="place-container" style={{@data.photo}}>
  <div class="container">
    <div class="header">
      <LinkTo @route="select">
        <h2>City Map</h2>
      </LinkTo>
    </div>
    <div class="place-details">
      <div class="place-name-container">
        <h1>{{@data.city.city}} {{@data.city.country}}</h1>
        <img src="images/location.png" alt="">
      </div>
      <div class="place-weather">
        <h3>{{@data.weather.app_temp}}&deg; <span class="description">{{@data.weather.weather.description}}</span></h3>
      </div>      
      <div class="place-local-news">
        <h4>Local News</h4>
        <div class="content-container">
          {{#each @data.news.value as | news |}}
            <div class="news-container" {{on "click" (fn this.takeToArticle news) }}>
              <div class="image-container">
                <img src={{news.image.thumbnail.contentUrl}} alt="">
              </div>
              <div class="article-container">
                <h3>{{news.name}}</h3>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
